<!-- <div> -->
  <h2>Add Car</h2>
  <!-- <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="make">Make:</label>
      <input formControlName="make" placeholder="Make" name="make" class="form-control" id="make">
    </div>

    <div>
      <label for="model">Model:</label>
      <input formControlName="model" placeholder="Model" name="model" class="form-control" id="model">
    </div>

    <div>
      <label for="year">Year:</label>
      <input formControlName="year" placeholder="Year" name="year" class="form-control" id="year">
    </div>

    <div>
      <label for="odometerReading">Odometer Reading:</label>
      <input formControlName="odometerReading" placeholder="Odometer Reading" name="odometerReading" class="form-control" id="odometerReading">
    </div>

    <button>Add</button>
  </form> -->
<!-- </div> -->